@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "IS413 Mission 5 - Home";
}
<header>Preferred Name: Brayden</header>
<h2>Me burried in corn</h2>
<img src="img/corn.jpg" height="400px" width="300px" />
<h2>IS413 hopes and dreams</h2>
<p>From IS413, I hope to gain a better skillset for developing in lower-level programming languages. I've done work with JS and Python, but have little experience with strongly typed languages or those that aren't as forgiving. I enjoy the simplicity of the easier languages, but also recognize that there are limitations to these languages, where a language like C# or a framework like ASP.NET can perform more efficiently. I understand that I can't expect bigger organizations that I intend on working with to develop their software without the more robust and low-level languages, so I hope to fill the gap in my skillset with the knowledge that I gain from this class.</p>
<h2>Top #3 jobs</h2>
<ul>
    <li>Backend SWE</li>
    <li>Cyber Security Consultant / Analyst</li>
    <li>General Technology and Systems Consultant</li>
</ul>